.aa{width: 1920px;}
*{margin: 0;padding: 0;}
#con2 img{display: block;margin: 0px auto;}
.foo{width: 456px;display: inline-block;height: 328px;}
.foo1{width: 990px;height: 328px;display: inline-block;}
